ul{
    list-style: none;
}
li{
    text-align:center;
    color:rgb(43, 167, 6);
    font-size:14px;
    line-height:25px;
}
li:first-child{
    color:green;
    font-size:18px;
}
span{
    display: inline-block;
    width:200px;
}
span.play{
    cursor: pointer;
}